%btn{
  border: 2px solid $primary-color;
  cursor: pointer;
  width: 200px;
  text-align: center;
  font-family: $body-font;
  font-size:0.875em;
  height:50px;
}

button, .btn{
  @extend %btn; // here we load the btn defaults
  background-color: $primary-color;
  color: $base-color;
  @include border-radius(2px);
  &:active, &:focus{
    outline: none;
  }
}
.btn-animation{
  @include forward();
  transition: 0.2s;
}
.btn-1{
  background-color: $highlight-color;
  color: $base-color;
  border: 2px solid $highlight-color;
  @include shrink();
}
.btn-2{
  background-color: $base-color;
  color: $primary-color;
  @include shutter-out-horizontal();
}
.btn-3{
  background-color: $base-color;
  color: $highlight-color;
  border: 2px solid $highlight-color;
  @include radial-out();
}



/********************************************************************************

                                  CLOSE BUTTON

********************************************************************************/

.btn-close, .btn-close-menu{
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  &:before, &:after{
    position: absolute;
    left: 15px;
    content: ' ';
    height: 32px;
    width: 2px;
    background-color: $primary-color;
  }
  &:before{
    transform: rotate(45deg);
  }
  &:after{
    transform: rotate(-45deg);
  }
  &:hover{
    opacity: 0.8;
  }
  &.light{
    &:before, &:after{
      background-color: $base-color;
    }
  }
}
