/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1200px) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 1024px) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) { @content ; }
  }
  @else if $point == mobilelandscape {
    @media (min-width: 480px)  { @content ; }
  }
}

/*
use like this:
@include breakpoint(laptop) {
    width:100%;
  }
*/

/*********************
Border radius
*********************/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

/*********************
Box shadow
*********************/

@mixin box-shadow($size){
  box-shadow: $size $size 0 rgba($primary-color, 0.25);
}

/*********************

EXTENDS

*********************/


/*********************
Background image
*********************/

%background-image{
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}

/*********************
Box shadow
*********************/

%shadow{
  box-shadow: 10px 10px 0 rgba($primary-color, 0.25);
}



