// Colors
$base-color:            #FFFFFF;
$primary-color:         #474E5D;
$secondary-color:       #f4f4f4;
//$secondary-color:       #3636B9;

$error-color:           #FF252B;
$warning-color:         #FF8A17;
$highlight-color:       #FFB800;

$text-color:            #545454;
$text-shadow-color:     #7E7E7E;

$accent1:               #4444cd;
$accent2:               #22bbb9;


//Header heights
$header-height-mobile:  80px;
$header-height:         100px;

//Landing section height
$landing-height:        100vh;


body{
  background-color: white;
}