/********************************************************************************
                                  SETTING COLOUR VARIABLES
********************************************************************************/
$color2:               #c6ff00;
$color2-accent:        #eeff41;

$base-color:            #eff3f6;
$primary-color:         #2f2c35;
$secondary-color:       #e0e0e9;


$highlight-color:       #673ab7;
$highlight-color-accent:#7c4dff;
$highlight-color-transparent: #7d6f96;

//primary, success, info, warning, danger
$success-color: #000000; //decide on this one
$info-color: #000000; // decide on this one
$warning-color: #c6ff00;
$color2-accent:         #eeff41;
$error-color: #FF5252;


body{
  background-color: $base-color;
}


/********************************************************************************
                                  COLOUR BASED CLASSES
********************************************************************************/

.base-color{
  color: $base-color;
}

.primary-color{
  color: $primary-color;
}

.secondary-color{
  color: $secondary-color;
}

.highlight-color{
  color: $highlight-color;
}

.warning-color{
  color: $warning-color;
}

/********************************************************************************
                                  BACKGROUND COLOURS
********************************************************************************/


.base-color-bg{
  background-color: $base-color;
}

.primary-color-bg{
  background-color: $primary-color;
}

.secondary-color-bg{
  background-color: $secondary-color;
}

.highlight-color-bg{
  background-color: $highlight-color;
}

.warning-color-bg{
  background-color: $warning-color;
}
.warning-color-bg-light{
  background-color: rgba($warning-color, 0.5);
}


/********************************************************************************
                                  OVERLAY COLOURS
********************************************************************************/
%full-width-height{
  width: 100%;
  height: 100%;
}

.background-image-overlay-base-color{
  @extend %full-width-height;
  background-color: rgba($base-color, 0.5);
}
.background-image-overlay-primary-color{
  @extend %full-width-height;
  background-color: rgba($primary-color, 0.5);
}
.background-image-overlay-highlight-color{
  @extend %full-width-height;
  background-color: rgba($highlight-color, 0.5);
}
.background-image-overlay-warning-color{
  @extend %full-width-height;
  background-color: rgba($warning-color, 0.5);
}
.background-image-overlay-secondary-color{
  @extend %full-width-height;
  background-color: rgba($secondary-color, 0.65);
}

.background-image-overlay-light{
  &.highlight-overlay{
    @extend %full-width-height;
    background-color: rgba($highlight-color, 0.3);
  }
  &.warning-overlay{
    @extend %full-width-height;
    background-color: rgba($warning-color, 0.3);
  }
  &.secondary-overlay{
    @extend %full-width-height;
    background-color: rgba($secondary-color, 0.5);
  }
}

.background-image-overlay-dark{
  &.highlight-overlay{
    @extend %full-width-height;
    background-color: rgba($highlight-color, 0.7);
  }
  &.warning-overlay{
    @extend %full-width-height;
    background-color: rgba($warning-color, 0.7);
  }
  &.secondary-overlay{
    @extend %full-width-height;
    background-color: rgba($secondary-color, 0.7);
  }
}
/********************************************************************************
                                  GRADIENT
********************************************************************************/

.gradient-1{
  background: $base-color; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $base-color, lighten($warning-color,0.5)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $base-color, lighten($warning-color,0.5)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $base-color, lighten($warning-color,0.5)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $base-color, lighten($warning-color,0.5)); /* Standard syntax */
}
.gradient-2{
  background: $base-color; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, $base-color, $secondary-color); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, $base-color, $secondary-color); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, $base-color, $secondary-color); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, $base-color, $secondary-color); /* Standard syntax */
}

/********************************************************************************
                                  SETTING COLOUR VARIABLES
********************************************************************************/


//Header heights
$header-height-mobile:  80px;
$header-height:         120px;

//Landing section height
$landing-height:        calc( 100vh - 120px );
