  #event-container{
        @include flexbox();
        flex-wrap: wrap;
        
        
    }

/***************************** Events  *****************************/

.single-event{ 
    @include flex-direction(column);
    width: 22vw;
    padding: 1.5vw;
    margin-left: 5vw;
}

.single-event p {
    margin: 4px;
}

.event-image{
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 75%;
}
.event-image img{
    position:absolute;
    width:100%;
    height:100%;
    border-radius:2%;
}

.event-text{
    text-align: center;
}

.event-date{
    font-size: 15px;
}

.event-place{
    font-size: 13px;
}

.event-title{
    font-size: 20px;

}

.event-description{
    font-size: 10px;
}


/***************************** Single Event *****************************/

.event-page-holder{
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    width: 100vw;
    height: 80vh;
}

.event{
    @include flexbox();
    @include flex-direction(row);
    width: 90vw;
    height: 65vh;

}

.event-left{
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    height: 100%;
    width: 70%;
    background-color: black;
    background-image: url('../../dist/images/img1-blur.png');
    background-size: cover;
    opacity: 1;
}

.event-main-text{
    height: 60%;
    width: 100%;
    @include flexbox();
    @include flex-direction(column);
     @include justify-content(space-around);
    @include align-items(center);
    p {
        color: white;
    }
}
.event-right{
    @include flexbox();
    height: 100%;
    width: 30%;
    box-shadow: 0 2px 4px -5px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
    margin: 0;
    @include flex-direction(column);
    padding-left: 2vw;
    padding-right: 2vw;
}

.event-image-holder{
    @include flexbox();
    @include justify-content(center);
    position: relative;
    width: 100%;
    padding-bottom: 75%;

    img {
        position: absolute;
        height: 100%;
        
        
    }
}

.event-location{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}

.event-adress-line{
    margin-top: 30px;
    text-align: center;
}

.event-adress-line-1{
    font-weight: 600;
}

.event-left-container{
    @include flexbox();
    width: 100%;
    height: 100%;
    padding: 30px;
}

.event-left-image-holder{
    width: 50%;
    img { 
    display: flex;
    width: 100%;
    }
}

.event-left-title{
    width: 50%;
    height: 250px;
    @include flexbox();
    @include align-items(center);
    @include flex-direction(column);
}

.event-text-1{
    font-size: 35px;
    font-weight: 600;
}

.event-text-2{
    font-size: 20px;
    font-weight: 200;
}

.event-text-3{
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}

/*************************** CONTACT FORM ***************/

.contact-form{
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    margin-top: 100px;
}